In [1]:
import pandas as pd
df=pd.read_csv("AirPassengers.csv")
df.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [3]:
df.tail

<bound method NDFrame.tail of        Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]>

In [7]:
df['month']=pd.to_datetime(df['Month'],format='%Y-%M')
df.head()

     Month  #Passengers               month
0  1949-01          112 1949-01-01 00:01:00
1  1949-02          118 1949-01-01 00:02:00
2  1949-03          132 1949-01-01 00:03:00
3  1949-04          129 1949-01-01 00:04:00
4  1949-05          121 1949-01-01 00:05:00