In [1]:
#importing dataset
import pandas as pd
df=pd.read_csv('cardata.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [2]:
df.describe

<bound method NDFrame.describe of     Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0       ritz  2014           3.35           5.59       27000    Petrol
1        sx4  2013           4.75           9.54       43000    Diesel
2       ciaz  2017           7.25           9.85        6900    Petrol
3    wagon r  2011           2.85           4.15        5200    Petrol
4      swift  2014           4.60           6.87       42450    Diesel
..       ...   ...            ...            ...         ...       ...
296     city  2016           9.50          11.60       33988    Diesel
297     brio  2015           4.00           5.90       60000    Petrol
298     city  2009           3.35          11.00       87934    Petrol
299     city  2017          11.50          12.50        9000    Diesel
300     brio  2016           5.30           5.90        5464    Petrol

    Seller_Type Transmission  Owner
0        Dealer       Manual      0
1        Dealer       Manual      0
2        Dealer       Manual      0
3        Dealer       Manual      0
4        Dealer       Manual      0
..          ...          ...    ...
296      Dealer       Manual      0
297      Dealer       Manual      0
298      Dealer       Manual      0
299      Dealer       Manual      0
300      Dealer       Manual      0

[301 rows x 9 columns]>

In [3]:
# scaling dataset
from sklearn.preprocessing import MinMaxScaler
numeric_cols=['Year','Selling_Price','Present_Price','Kms_Driven','Owner']
scaler=MinMaxScaler()
df[numeric_cols]=scaler.fit_transform(df[numeric_cols])
df[numeric_cols].head()

       Year  Selling_Price  Present_Price  Kms_Driven  Owner
0  0.733333       0.093123       0.057109    0.053053    0.0
1  0.666667       0.133238       0.099913    0.085085    0.0
2  0.933333       0.204871       0.103273    0.012813    0.0
3  0.533333       0.078797       0.041504    0.009409    0.0
4  0.733333       0.128940       0.070980    0.083984    0.0

In [5]:


from sklearn.model_selection import train_test_split
X=df[['Year','Kms_Driven']]
y=df[['Selling_Price']]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
print('x_train \n',X_train.head(),
      '\n x_test \n',X_test.head(),
      '\n y_train \n',y_train.head(),
      '\n y_test \n',y_test.head())

x_train
          Year  Kms_Driven
222  0.733333    0.154418
283  0.866667    0.017037
44   0.600000    0.099099
245  0.600000    0.141141
191  0.600000    0.049049
 x_test
          Year  Kms_Driven
223  0.800000    0.121884
150  0.533333    0.011011
226  0.800000    0.048404
296  0.866667    0.067043
52   0.933333    0.029029
 y_train
      Selling_Price
222       0.169054
283       0.254728
44        0.032951
245       0.146132
191       0.002865
 y_test
      Selling_Price
223       0.233524
150       0.011461
226       0.147564
296       0.269341
52        0.512894

In [6]:
#making prediction
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
y_pred

array([[0.16194804],
       [0.06647604],
       [0.13494375],
       [0.15547493],
       [0.15518581],
       [0.13458841],
       [0.10149417],
       [0.13120396],
       [0.11296825],
       [0.1023035 ],
       [0.07862845],
       [0.13083608],
       [0.15894845],
       [0.12782314],
       [0.16210552],
       [0.15224281],
       [0.14154789],
       [0.1325356 ],
       [0.08413408],
       [0.14517959],
       [0.09884911],
       [0.13303819],
       [0.11605694],
       [0.14714843],
       [0.06516262],
       [0.1478283 ],
       [0.1172429 ],
       [0.1203957 ],
       [0.08530764],
       [0.08620147],
       [0.09105379],
       [0.13842161],
       [0.12149932],
       [0.1453841 ],
       [0.08587921],
       [0.13686924],
       [0.1422417 ],
       [0.14621693],
       [0.04014707],
       [0.14945788],
       [0.15935462],
       [0.13327135],
       [0.12009187],
       [0.14317534],
       [0.13621436],
       [0.1569067 ],
       [0.11149675],
       [0.13488271],
       [0.12933284],
       [0.14138231],
       [0.11414181],
       [0.1396651 ],
       [0.13374661],
       [0.15136719],
       [0.14371173],
       [0.13591641],
       [0.10119623],
       [0.10399937],
       [0.12999207],
       [0.11524544],
       [0.03515489],
       [0.16417291],
       [0.0931868 ],
       [0.14856405],
       [0.12739932],
       [0.15148789],
       [0.16098788],
       [0.08031546],
       [0.14510602],
       [0.09369885],
       [0.14886199],
       [0.13690372],
       [0.150477  ],
       [0.12253302],
       [0.20509528],
       [0.15606871],
       [0.11414181],
       [0.15196907],
       [0.0460513 ],
       [0.0934104 ],
       [0.14076873],
       [0.15055058],
       [0.13232962],
       [0.14915994],
       [0.13627174],
       [0.113704  ],
       [0.09952383],
       [0.14239831],
       [0.08972215],
       [0.13448835],
       [0.12046563]])

In [7]:


new_data=[[0.33423,0.093498]]
pred_value=model.predict(new_data)
pred_value

C:\Users\muham\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[0.05593067]])

In [8]:
import pandas as pd
df=pd.read_csv('Salary_dataset.csv')
df.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [9]:
df.describe

<bound method NDFrame.describe of     Unnamed: 0  YearsExperience    Salary
0            0              1.2   39344.0
1            1              1.4   46206.0
2            2              1.6   37732.0
3            3              2.1   43526.0
4            4              2.3   39892.0
5            5              3.0   56643.0
6            6              3.1   60151.0
7            7              3.3   54446.0
8            8              3.3   64446.0
9            9              3.8   57190.0
10          10              4.0   63219.0
11          11              4.1   55795.0
12          12              4.1   56958.0
13          13              4.2   57082.0
14          14              4.6   61112.0
15          15              5.0   67939.0
16          16              5.2   66030.0
17          17              5.4   83089.0
18          18              6.0   81364.0
19          19              6.1   93941.0
20          20              6.9   91739.0
21          21              7.2   98274.0
22          22              8.0  101303.0
23          23              8.3  113813.0
24          24              8.8  109432.0
25          25              9.1  105583.0
26          26              9.6  116970.0
27          27              9.7  112636.0
28          28             10.4  122392.0
29          29             10.6  121873.0>

In [12]:
# scaling dataset
from sklearn.preprocessing import MinMaxScaler
numeric_cols=['YearsExperience','Salary']
scaler=MinMaxScaler()
df[numeric_cols]=scaler.fit_transform(df[numeric_cols])
df[numeric_cols].head()

   YearsExperience    Salary
0         0.000000  0.019041
1         0.021277  0.100094
2         0.042553  0.000000
3         0.095745  0.068438
4         0.117021  0.025514

In [13]:
from sklearn.model_selection import train_test_split
X=df[['YearsExperience']]
y=df[['Salary']]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
print('x_train \n',X_train.head(),
      '\n x_test \n',X_test.head(),
      '\n y_train \n',y_train.head(),
      '\n y_test \n',y_test.head())

x_train
     YearsExperience
22         0.723404
5          0.191489
16         0.425532
8          0.223404
14         0.361702
 x_test
     YearsExperience
2          0.042553
28         0.978723
13         0.319149
10         0.297872
26         0.893617
 y_train
       Salary
22  0.750898
5   0.223376
16  0.334255
8   0.315545
14  0.276163
 y_test
       Salary
2   0.000000
28  1.000000
13  0.228561
10  0.301051
26  0.935956

In [14]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
y_pred

array([[0.03646094],
       [1.0094151 ],
       [0.32392467],
       [0.30181208],
       [0.92096472],
       [0.83251435],
       [0.93202102],
       [0.31286837],
       [0.45660024]])

In [18]:
new_data=[[0.33423]]
pred_value=model.predict(new_data)
pred_value

C:\Users\muham\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[0.3395983]])